<ion-view>
  <ion-nav-title>
      Agile Certified Practitioner (ACP)
  </ion-nav-title>
  <ion-content class="acp-content-bg">
  	<div class="item">
		    Choose Your Exam Mode
	</div>	
  	<div class="auto width-200 acp-exam-btn">
  		<button ng-click="startTestByMode('simulate')" class="button button-dark width-200 acp-buy-more">
			  Simulate Mode
			</button>
			<button ng-click="startTestByMode('test')" class="button button-dark width-200 acp-buy-more">
			  Test Mode
			</button>
  	</div>
  </ion-content>
</ion-view>