<ion-view view-title="Agile Certified Practitioner (ACP)">
  <ion-content class="acp-content-bg">
  	<div class="item item-divider" ng-show="testMode">
  		<div class="right">
  			Exam Time : <timer autostart="false" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
  		</div>
	</div>
  	<div ng-show="timerTemplate" class="auto width-100">
  	  	<img class="vertical" width="100" height="100" src="img/clock.ico"/>
  	</div>
  	<div ng-show="timerTemplate" class="auto width-145 acp-exam-btn">
  	  	<button ng-click="startTest()" class="button button-dark">
			  Start Your Exam
		</button>
  	</div>
	  <div ng-show="testMode">
	  	<div  class="padding">Q{{count}}. {{questions[QuestionNumber].question}}</div>
		<ion-list>
			<ion-radio class="item-text-wrap" ng-model="options.choice" value="a">a. {{questions[QuestionNumber].options.a}}</ion-radio>
			<ion-radio class="item-text-wrap" ng-model="options.choice" value="b">b. {{questions[QuestionNumber].options.b}}</ion-radio>
			<ion-radio class="item-text-wrap" ng-model="options.choice" value="c">c. {{questions[QuestionNumber].options.c}}</ion-radio>
			<ion-radio class="item-text-wrap" ng-model="options.choice" value="d">d. {{questions[QuestionNumber].options.d}}</ion-radio>
		</ion-list>
	  </div>
	  <div ng-show="showScoreCard" class="acp-score-display">
	  	<p class="acp-score-text">Your Score is</p>
	  	<div class="acp-score-circle abs"></div>
	  	<div class="acp-line abs"></div>
	  	<div class="abs acp-actual-score">{{score}}</div>
	  	<div class="abs acp-total-score">{{numberOfQuestions}}</div>
	  </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-calm">
	<i ng-click="changeQuestion('Prev')" ng-show="prevEnd" class="button button-dark ion-chevron-left ion-left abs btn-padding"></i>
	<button ng-show="testMode" ng-click="completeTest()" class="button button-dark acp-submit abs">Submit</button>
	<i ng-click="changeQuestion('Next')" ng-show="nextEnd" class="button button-dark ion-chevron-right ion-right btn-padding"></i>
  </ion-footer-bar>
</ion-view>
