<ion-view>
  <ion-nav-title>
      Agile Certified Practitioner (ACP)
  </ion-nav-title>
  <ion-content class="acp-content-bg">
	  <div class="card">
	  <div class="item item-text-wrap">
	    Please select your text file to write your exam
	  </div>
	</div>
	<div class="browse">
		<button class="button button-dark icon ion-filing width-200" ng-click="openFileDialog()"> Open File</button>
	</div>
	<!-- <input type="file" id="file" onchange="angular.element(this).scope().fileNameChanged(this)"/> -->
	<input type="file" id="file"  onchange="angular.element(this).scope().fileNameChanged(this)"/>
  </ion-content>
</ion-view>
